<div class="jumbotron">
	<h1><i class="fa fa-circle-o-notch"></i> Todo</h1>
  <p>This app is made with the help of Ruby on Rails </p>
  <%= link_to 'Sign Up', '#', Class: 'btn btn-primary btn-lg' %>

</div>
